* 
{
  margin: 0;
  padding: 0;
}

:root 
{
  font-family: "Alice", serif;
  line-height: 150%;
}

p 
{
  text-align: justify;
}

body 
{
  background-image: url(assets/bg-image.png);
  background-size: cover;
  background-color: rgb(87, 56, 36);
}

#container 
{
  margin: 48px auto 28px;
  padding: 24px;

  background-color: #F0E8C2;
  border-radius: 24px;

  width: 800px;
  box-sizing: border-box;
}

#main-image
{
  border-radius: 16px;
}

main 
{
  padding: 24px;
}

h1 
{
  font-size: 40px;
}

h2 
{
  font-size: 24px;
}

#text-primary
{
  color: #291B1A;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 150%;
}

#text-secondary 
{
   color: #573A37;
}

p + p 
{
  margin-top: 12px;
}

section + section 
{
  margin-top: 24px;
}

ul 
{
  margin-left: 24px;
}

footer 
{
  margin-bottom: 48px;

  color: #F0E8C2;
  font-size: 16px;
  text-align: center;
}

footer img 
{
  vertical-align: middle;
}