p 
{
  text-align: justify;
}

body 
{
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#container 
{
  margin: 48px auto;
  padding: 24px;

  background-color: #F0E8C2;
  border-radius: 24px;

  width: 800px;
  box-sizing: border-box;
}

main 
{
  padding: 24px;
}

#main-image
{
  border-radius: 16px;
}